.reset-margin-top {
    margin-top: 0px;
}

/*header*/
/*nav*/

.img-logo {
    height: 30px;
}

.menu-central {
    list-style-type: none;
    text-align: center;
    line-height: 30px;
}

.menu-central li {
    display: inline-block;
    margin-right: 5px;
}

.menu-central li a {
    text-decoration: none;
    color:  #183153;
    margin-right: 20px;
    display: inline-block;
}

.menu-right {
    list-style-type: none;
    text-align: right;
    line-height: 30px;
}

.menu-right li {
    display: inline-block;
    margin-left: 5px;
}

.menu-right li a {
    text-decoration: none;
    color:  #183153;
    margin-right: 20px;
    display: inline-block;
}

.button {
    color: #2485fd;
    border: 1px solid #2485fd;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
/*fine nav*/

.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
}

.jumbotron .container {
    padding: 40px 0 40px 0;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    margin-right: 30%;
    margin-bottom: 10px;
}

.text-jb {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-right: 10%;
}

.login {
    background-color: white;
    border-radius: 5px;
    padding: 20px 0 20px 0;
}

.blue-txt {
    color: #2485fd;
    text-align: center;
    margin-bottom: 8px;
}

.dblue-txt {
    color: #073874;
    text-align: center;
    margin-bottom: 8px;
}

.text-centered {
    text-align: center;
}

p a {
    color: #2485fd;
}

input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 8px 8px;
    box-sizing: border-box;
}

.blue-btn {
    background-color: #2485fd;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
}

.blue-btn a {
    color: white;
    text-decoration: none;
}

.white-btn {
    color: black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid whitesmoke;
}

.img-google {
    height: 12px;
}

.white-btn a {
    color: grey;
    text-decoration: none;
}
/*fine header*/

/*main*/

/*sezione aziende*/

.bg-lightgrey {
    background-color: #f3f5f9;
    padding: 30px 0 30px 0;
}

.grey-txt {
    color: grey;
    margin-bottom: 30px;
}

.aziende a {
    color: #2485fd;
    text-decoration: none;
}

.img-aziende {
    margin-bottom: 10px;
}

/*cose*/

.infos {
    padding: 30px 0 30px 0;
}

.menu-infos {
    margin-left: 20%;
    list-style-type: none;
    border-left: grey solid 1px;
}

.menu-infos li {
    margin-left: 8px;
    margin-bottom: 15px;
    color: grey;
}

.block {
    margin-top: 40px;
}

.margine {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*slide*/

.bg-lightgrey h2 {
    margin-bottom: 20px;
}

.img-slide {
    width: 58%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.chevron {
    width: 20%;
    vertical-align: 200px;
    font-size: 30px;
}

.sx {
    text-align: right;
    color: grey;
}

.circle {
    margin-top: 15px;
    color: #2485fd;
}

/*features*/

.features {
    padding: 30px 0 50px 0;
}

.text-left {
    text-align: left;
    margin-top: 10px;
}

.text-left a {
    text-decoration: none;
    color: #2485fd;
}

/*regions*/

.gradient {
    background-color: rgb(0, 102, 255);
    background-image: linear-gradient (rgb(0, 102, 255), rgb(4, 54, 129));
    padding: 50px;
    color: white;
}

.txt-regions {
    padding: 10px;
    border-bottom: white 1px solid;
}

.sigla {
    text-transform: uppercase;
    text-align: left;
    display: inline;
    
}

.citta {
    text-align: center;
    display: inline;
    margin-left: 50px;
}

.link {
    text-align: right;
    display: inline;
    margin-left: 200px;
}

.txt-regions a {
    text-decoration: none;
    color: turquoise;
}

/*development*/

.develop {
    background-color: #f3f5f9;
    padding: 30px 0 30px 0;
}

.box {
    width: 58%;
    background-color: white;
    height: 200px;
    margin-right: 20%;
    margin-left: 20%;
}

.box a {
    text-decoration: none;
    color: #2485fd;
    margin-left: 45%;
}

.img-box {
    margin-top: 30px;
    margin-left: 25%;
    margin-bottom: 10px;
}

.button-wb {
    background-color: white;
    color: #2485fd;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
}
/*fine main*/

footer {
    padding: 40px 0 40px 0;
    background-color: rgb(4, 54, 129);
    color: lightgray;
}

footer h3 {
    color: white;
}

.menu-footer {
    margin-top: 5px;
    list-style-type: none;
}

.menu-footer li {
    margin-top: 5px;
}

.icons {
    margin-top: 10px;
}

.icons i {
    margin-right: 8px;
}

@media  all and (min-width: 768px) and (max-width: 991px) {
    
}