/*header*/
/*nav*/

.img-logo {
    height: 30px;
}

.menu-central {
    list-style-type: none;
    text-align: center;
    line-height: 30px;
}

.menu-central li {
    display: inline-block;
    margin-right: 10px;
}

.menu-central li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    display: inline-block;
}

.menu-right {
    list-style-type: none;
    text-align: right;
    line-height: 30px;
}

.menu-right li {
    display: inline-block;
    margin-left: 10px;
}

.menu-right li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    display: inline-block;
}

.button {
    color: rgb(31, 60, 192);
    border: 1px solid rgb(31, 60, 192);
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
/*fine nav*/

.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
    height: 400px;
    margin-top: 10px;
}

/*fine header*/

