/*header*/
/*nav*/

.img-logo {
    height: 30px;
}

.menu-central {
    list-style-type: none;
    text-align: center;
    line-height: 30px;
}

.menu-central li {
    display: inline-block;
    margin-right: 5px;
}

.menu-central li a {
    text-decoration: none;
    color:  #183153;
    margin-right: 20px;
    display: inline-block;
}

.menu-right {
    list-style-type: none;
    text-align: right;
    line-height: 30px;
}

.menu-right li {
    display: inline-block;
    margin-left: 5px;
}

.menu-right li a {
    text-decoration: none;
    color:  #183153;
    margin-right: 20px;
    display: inline-block;
}

.button {
    color: #2485fd;
    border: 1px solid #2485fd;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
/*fine nav*/

.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
}

h1 {
    color: white;
}

.text-jb {
    color: white;
    margin-right: 20px;
}

.login {
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
}
/*fine header*/

